flask
flask-cors
psycopg2-binary
bcrypt
PyJWT
yfinance
numpy
pandas
pandas-ta

### Install TA-Lib manual for it requires a C library
### # Mac
# brew install ta-lib
# pip install TA-Lib

# Ubuntu/WSL
# sudo apt-get install ta-lib
# pip install TA-Lib 

# for windows, download the appropriate wheel file from https://www.lfd.uci.edu/~gohlke/pythonlibs/#ta-lib and install it using pip